---
layout: post
title: Validating A/B Test Results
author: Jonathan Logan Moran
categories: portfolio
tags: AB-testing user-behavior metrics interference statistics hypothesis-testing SQL
permalink: /validating-AB-test-results
description: "In this Part 3 exploration the Yammer dataset, we will be analysing the results of an A/B test conducted on Yammer's "publisher" feature. Our initial results suggest a 50% increase in posting among the treatment group users. Something doesn't seem right and it's our job to determine if the data and analysis is credible."
---

# Hold on tight.
This page is a work-in-progress. Please check back soon.


Don't want to wait? [Contact me](jonathanlmoran.com/contact) to request the offline copy of this article.

